body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
footer {
    background-color: pink;
    padding: 20px;
    text-align: center;
    color: black;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
} 
.home {
    display:  block;
    padding: 10px;
    background-color: white;
    color: black;
    transition-duration: 0.5s;  
    text-align: center;
    width: 100px;
}
.home:hover {
    background-color: whitesmoke;
    color: red;
    cursor: pointer;
    transform: translate(20px);
}
.con {
    margin: 0 2rem;
}
table{
    border-collapse: collapse;
    width: 700px;
    margin: 0 auto; 
    margin-bottom: 2rem;
}
td, tr,th{
    padding: .5rem;
    text-align: center;
    border: 2px solid black;
}
