body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}
/* CSS Body */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1,h2 {
    text-align: center;
  }
  
  /* CSS สำหรับส่วนข้อมูลติดต่อ */
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  /* CSS สำหรับส่วนแบบฟอร์มติดต่อ */
  .contact-form {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: red;
  }
  